<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
<title>Pagina Principal</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<!-- -->
<link rel="icon" href="{{url_for('static', filename='images/descargar.ico')}}">
<script type="text/javascript" src="../static/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../static/scripts.js"></script>
<script type="text/javascript" src="../static/codigo.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="ie.css" />
<script type="text/javascript" src="js/unitpngfix.js"></script>
<![endif]-->
</head>
<body>
  
  <!-- BEGIN header -->
  <header id="header">
 
    <nav class="color_header">
    <ul class="pages">
      <li><a href="/">Principal</a></li>
      <li><a href="/loging">Iniciar sesion/Registrarse</a></li>
      <li><a href="#footer">Contacto</a></li>
    </ul>
    </nav>
    <section class="logo"> 
      <a href="/"><img src="{{url_for('static', filename='images/una_pagina_mas.png')}}"></img> </a>
      
    </section>
  
    
    <nav class="nav1">
      <ul class="categorias">
        <li><a href="/">Recientes</a></li>
        <li><a href="#">Consolas</a>
          <ul class="sub_menu1">
            <li><a href="/nintendo">Nintendo</a></li>
            <li><a href="/play">playstation</a></li>
            <li><a href="/xbox">XBox</a></li>
            <li><a href="/pc">PC</a></li>
          </ul> </li> 
        <li><a href="/moviles">Moviles</a></li>
        <li><a href="/anime">Anime </a></li>
        <li><a href="/lr">Login registrados</a></li>
      </ul>
    </nav>
    
  </header>
  <!-- END header -->

<!-- BEGIN main -->  
<main id="main">
  
  <!-- BEGIN wrapper -->
  <div id="wrapper">  
    <!-- BEGIN content -->  
    <div id="content">
      <section class="head">
          <!-- begin featured -->
          <h2 class="title">Noticas Nuevas</h2>
          <div class="collect_featured">
            <div class="featured">
              <div class="thumb">
                <article class="b">
                  <ul class="photo1">
                    <li class="first"><img src="{{url_for('static', filename='images/social-share.jpg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/GOFEST.jpg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/grietaniebla.jpg')}}" alt="" height="570px"></li>
                  </ul>
                  <ul class="text1">
                    <li class="first">
                      <h2>WarioWare: Get It Together!</h2>
                      <p> Nuevo juego para la saga WarioWare para Nintendo Switch, basado en niniguegos contra tiempo, con doblaje a español latino</p>
                    <li>
                      <h2>Go Fest</h2>
                      <p>El Pokemon mitico meloetta aparecera por anticipado a los jugadores con boleto</p>
                    <li>
                      <h2>League of Legends</h2>
                      <p>Nuevo modo de juego disponible por tiempo limitado basado en el rey arruinado</p>
                  </ul>
                </article>
              </div>
            </div>
            <div class="featured">
              <div class="thumb">
                <article class="b">
                  <ul class="photo2">
                    <li class="first"><img src="{{url_for('static', filename='images/e3_playstation.jpg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/rachet_clank2.jpeg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/xbox_pass.jpg')}}" alt="" /></li>
                  </ul>
                  <ul class="text2">
                    <li class="first">
                      <h2>¿Sony se perdió el E3?</h2>
                      <p>Siendo objetivos es normal que una compañía no quisiera estar en este E3 pues, este es uno de los E3 que las personas menos interés le veían debido que no es el clásico E3</p>
                    <li>
                      <h2>La PlayStation 5</h2>
                      <p>Pues este juego trabajó tanto que los gráficos llegan a ser alucinantes en esta nueva Play Station.No es solo un asunto de carga gráfica, de efectos de postprocesado.</p>
                    <li>
                      <h2>Aqui vamos</h2>
                      <p>Una nueva cantidad de diversion sobre las platafomas de microsoft</p>
                  </ul>
                </article>
              </div>
            </div>
          </div>

          <!-- end featured -->
<!--         <script type="text/javascript" src="../static/pixeles.js"></script>--> 
<!--          <canvas id="canvas1" width="800" height="400"></canvas>--> 
          <!-- begin post -->
          <div class="post">
            <div class="l"><img src="{{url_for('static', filename='images/akshan.jpg')}}" alt="" /> </div>
            <section class="r">
              <h2>Nuevo campeón de League of Legends</h2>
              <p>Al indagar en la página del evento de “Los Centinelas de la luz” se da a conocer el nombre del próximo tirador del carril central llamado “AKSHAN”.</p>
              <p class="details">06.23.21 | Advertising | Emmanuel</p>
            </section>
          </div>
          <!-- end post -->
          <!-- begin post -->
          <div class="post">
            <div class="l"><img src="{{url_for('static', filename='images/kyoani_music_fes.jpg')}}" alt="" /> </div>
            <section class="r">
              <h2>KyoAni Music Festival -Inspiration for the future</h2>
                      <p>La empresa Kyoto Animation primer festival musical por parte de la compañía, y se llevará a cabo en el Rohm Theater en Kioto los días 20 y 21 de noviembre de 2021</p>
              <p class="details">04.23.09 | Advertising | Admin</p>
            </section>
          </div>
          <!-- end post -->
          <!-- begin post -->
          <div class="post">
            <div class="l"><img src="{{url_for('static', filename='images/GOFEST.jpg')}}" alt="" /> </div>
            <section class="r">
              <h2>El Go Fest se acerca </h2>
              <p>El quinto aniversario de Pokemon Go se acerca y por esta ocacion el precio del boleto bajo de $25 dolares a $5 dolares.</p>
              <p class="details">04.23.09 | Advertising | Admin</p>
            </section>
          </div>
          <!-- end post -->
          
          <div class="break"></div>
        <!-- end content -->  
      </section>
    </div>
    <!-- END content -->

    <!-- BEGIN sidebar -->
    <aside id="sidebar">
      <!-- begin advertisement -->
      <div class="ads"> 
    <!-- Bbegin svg clock-->
      <p>Este es un svg</p>
      <svg class="clock" viewBox="0 0 50 50">
        <g>   
        <circle id="secondsCirc" cy="-.5" r="14" stroke="#24303a" /> 
        <path id="secondsPath" d="" fill="transparent" stroke="#1ed5f6" ></path>
      
        <circle id="minCirc" cy="-.5" r="10" stroke="#24303a" /> 
        <path id="minPath" d="" fill="transparent" stroke="#f61ed5" ></path>
        
        <circle id="hoursCirc" cy="-.5" r="6" stroke="#24303a" /> 
        <path id="hoursPath" d="" fill="transparent" stroke="#d5f61e" ></path> 
          
          
          <circle id="hub" cy="-.5" r="3.5" fill="#24303a" /> 
        </g>
        <text id="text"  transform="translate(25 5)">00:00:00</text>
        <text id="toggle" transform="translate(15 45)">STOP</text>
        <text id="reset" transform="translate(37 45)">RESET</text>
      </svg>

    <!-- end svg clock -->
      <script type="text/javascript" src="../static/code_clock.js"></script>
      <p>Este es un svg</p>
      <svg width="200" height="210">
        <polygon points="100,10 40,198 190,78 10,78 160,198"
        style="fill:#D7DAD7;stroke:purple;stroke-width:5;fill-rule:nonzero;" />
      </svg>
      <!--begin canvas animation-->
      <canvas id="canva_animated"></canvas>
      <script  src="../static/code_canvas.js"></script>
      <!--end canvas animation-->
      </div>
      <!-- end advertisement -->
      
      <!-- begin popular posts -->
      <section class="box">
        <h2>Discord Server</h2>
          <iframe class="discord" src="https://discord.com/widget?id=856316210228363284&theme=dark" width="240" height="400" 
           sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        
      </section>
      <!-- end popular posts -->

      
    </aside>
    <!-- END sidebar -->
    <div class="break"></div>
  </div>
  <!-- END wrapper -->
   
</main>
<!-- BEGIN main --> 

<!-- BEGIN footer -->
<footer id="footer">
  <p>Copyright &copy; 2021 - Creado Por: </p>
  <p>- Garduño Téllez Emmanuel </p>
  <p>- Toledo Presa Alexis Rodrigo </p>
  <p>- Grupo: 2651 </p>
  <p>- Prof. Rubén Romero Ruiz</p>
  <p>- Proyecto de Desarrollo Web  </p>
</footer>
<!-- END footer -->

</body>
</html>
