<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
<title>Play</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<!-- -->
<link rel="icon" href="{{url_for('static', filename='images/descargar.ico')}}">
<script type="text/javascript" src="../static/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../static/scripts.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="ie.css" />
<script type="text/javascript" src="js/unitpngfix.js"></script>
<![endif]-->
</head>
<body>
<!-- BEGIN header -->
<header id="header">
 
  <nav class="color_header">
  <ul class="pages">
    <li><a href="/">Principal</a></li>
    <li><a href="/loging">Iniciar sesion</a></li>
    <li><a href="#footer">Contacto</a></li>
  </ul>
  </nav>
  <section class="logo"> 
    <a href="/"><img src="{{url_for('static', filename='images/una_pagina_mas.png')}}"></img> </a>
    
  </section>

  
  <nav class="nav1">
    <ul class="categorias">
      <li><a href="/">Recientes</a></li>
      <li><a href="#">Consolas</a>
        <ul class="sub_menu1">
          <li><a href="/nintendo">Nintendo</a></li>
          <li><a href="/play">playstation</a></li>
          <li><a href="/xbox">XBox</a></li>
          <li><a href="/pc">PC</a></li>
        </ul> </li> 
      <li><a href="/moviles">Moviles</a></li>
      <li><a href="/anime">Anime </a></li>
      <li><a href="/lr">Login registrados</a></li>
    </ul>
  </nav>
  
</header>
<!-- END header -->

<!-- BEGIN main -->  
<main id="main">
  
  <!-- BEGIN wrapper -->
  <div id="wrapper">  
    <!-- BEGIN content -->  
    <div id="content">
      <section class="head">
          <!-- begin featured -->
          <h2 class="title">Noticas Nuevas</h2>
          <div class="collect_featured">
            <div class="featured">
              <div class="thumb">
                <article class="b">
                  <ul class="photo1">
                    <li class="first"><img src="{{url_for('static', filename='images/e3_playstation.jpg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/e3_playstation2.jpg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/play_station1.jpg')}}" alt="" /></li>
                  </ul>
                  <ul class="text1">
                    <li class="first">
                      <h2>¿Sony se perdió el E3?</h2>
                      <p>Siendo objetivos es normal que una compañía no quisiera estar en este E3 pues, este es uno de los E3 que las personas menos interés le veían debido que no es el clásico E3</p>
                    <li>
                      <h2>No es malo ni bueno</h2>
                      <p>pues este E3 no es esa experiencia que se siente que nos une como comunidad, entonces la verdad no se tiene el mismo iteres para mucha gente en el E3</p>
                    <li>
                      <h2>  </h2>
                      <p>No quiero decir que Sony sea perfecta y totalmente objetiva al no querer presentar sus juegos en este E3 y si en su próxima serie de anuncios en su State of Play para el 27 de Mayo.</p>
                  </ul>
                </article>
              </div>
            </div>
            <div class="featured">
              <div class="thumb">
                <article class="b">
                  <ul class="photo2">
                    <li class="first"><img src="{{url_for('static', filename='images/rachet_clank1.jpg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/rachet_clank2.jpeg')}}" alt="" /></li>
                    <li><img src="{{url_for('static', filename='images/rachet_clank3.jpg')}}" alt="" /></li>
                  </ul>
                  <ul class="text2">
                    <li class="first">
                      <h2>Ratchet & Clank: rift apart</h2>
                      <p>Pues este siendo un de los juegos de Sony con méritos a mi parecer, 
                        la historia es simple al inicio pue solo este dúo dinámico en la misión de salvar el universo o universos </p>
                    <li>
                      <h2>La PlayStation 5</h2>
                      <p>Pues este juego trabajó tanto que los gráficos llegan a ser alucinantes en esta nueva Play Station.No es solo un asunto de carga gráfica, de efectos de postprocesado.</p>
                    <li>
                      <h2>Gran franquicia</h2>
                      <p>Como franquicia, Ratchet & Clank siempre han sido una parte muy importante para PlayStation. Desde su nacimiento en la época del PS2 en 2002, incluyendo unas en el PSP</p>
                  </ul>
                </article>
              </div>
            </div>
          </div>

          <!-- end featured -->

          <!-- begin post -->
          <div class="post">
            <div class="l"><img src="{{url_for('static', filename='images/bloodborne.jpg')}}" alt="" /> </div>
            <section class="r">
              <h2>Bloodborne en PC gracias PlayStation Now</h2>
              <p>PlayStation dio a conocer la noticia a través de un posteo 
                en el blog oficial donde Bloodborne es el más popular, 
                junto con otras franquicias de la marca, asi si puedes pruebalo donde quieras.</p>
              <p class="details">20/06/21 | Advertising | Alexis T.</p>
            </section>
          </div>
          <!-- end post -->
          <!-- begin post -->
          <div class="post">
            <div class="l"><img src="{{url_for('static', filename='images/re_3_nemesis.jpg')}}" alt="" /> </div>
            <section class="r">
              <h2>Resident Evil 3 Favorito</h2>
              <p>Aquí mi humilde opinión sobre RE3 de ps1, para mi el mejor de toda la saga pues 
                este fue mi primer RE entonces tiene un espacio siempre en mi memoria y para recordarlo un pequeño espacio aquí.</p>
              <p class="details">20/06/21 |  | Alexis T.</p>
            </section>
          </div>
          <!-- end post -->
         
          
          <div class="break"></div>
        <!-- end content -->  
      </section>
    </div>
    <!-- END content -->

    <!-- BEGIN sidebar -->
    <aside id="sidebar">
      <!-- begin advertisement -->
      <div class="ads"> 
 <!-- Bbegin svg clock-->
 <p>Este es un svg</p>
 <svg class="clock" viewBox="0 0 50 50">
   <g>   
   <circle id="secondsCirc" cy="-.5" r="14" stroke="#24303a" /> 
   <path id="secondsPath" d="" fill="transparent" stroke="#1ed5f6" ></path>
 
   <circle id="minCirc" cy="-.5" r="10" stroke="#24303a" /> 
   <path id="minPath" d="" fill="transparent" stroke="#f61ed5" ></path>
   
   <circle id="hoursCirc" cy="-.5" r="6" stroke="#24303a" /> 
   <path id="hoursPath" d="" fill="transparent" stroke="#d5f61e" ></path> 
     
     
     <circle id="hub" cy="-.5" r="3.5" fill="#24303a" /> 
   </g>
   <text id="text"  transform="translate(25 5)">00:00:00</text>
   <text id="toggle" transform="translate(15 45)">STOP</text>
   <text id="reset" transform="translate(37 45)">RESET</text>
 </svg>
 <!-- end svg clock -->
 <script type="text/javascript" src="../static/code_clock.js"></script>
 <p>Este es un svg</p>
 <svg width="200" height="210">
   <polygon points="100,10 40,198 190,78 10,78 160,198"
   style="fill:#D7DAD7;stroke:purple;stroke-width:5;fill-rule:nonzero;" />
 </svg>
      </div>
      <!-- end advertisement -->
      
      <!-- begin popular posts -->
      <section class="box">
        <h2>Discord Server</h2>
          <iframe class="discord" src="https://discord.com/widget?id=856316210228363284&theme=dark" width="240" height="400" 
           sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        
      </section>
      <!-- end popular posts -->

      
    </aside>
    <!-- END sidebar -->
    <div class="break"></div>
  </div>
  <!-- END wrapper -->
   
</main>
<!-- BEGIN main --> 

<!-- BEGIN footer -->
<footer id="footer">
  <p>Copyright &copy; 2021 - Creado Por: </p>
  <p>- Garduño Téllez Emmanuel </p>
  <p>- Toledo Presa Alexis Rodrigo </p>
  <p>- Grupo: 2651 </p>
  <p>- Prof. Rubén Romero Ruiz</p>
  <p>- Proyecto de Desarrollo Web  </p>
</footer>
<!-- END footer -->

</body>
</html>
