.globalnav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.globalnav ul li{
	display: inline-block;
}

.globalnav ul li a{
	display: block;
	padding: 0.5rem 3rem;
}

.header{
	background: #333;
	color: white;
	padding: 0px 0;
}

.header a{
	text-decoration: none;
	color: white;
}

.container {
	display: flex;
	justify-content: space-around;
}
a:hover{
    color: gray;
}